<div class="contenedor-admin">
  <aside class="sidebar-admin" [class.abierta]="menuAbierto()">
    <div class="sidebar-cabecera">
      <button class="boton-cerrar-sidebar" (click)="alternarMenu()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <span class="texto-logotipo">Comunica</span>
      <span class="etiqueta-admin">ADMINISTRACIÓN</span>
    </div>

    <nav class="sidebar-navegacion">
      @for (item of menuAdmin; track item.texto) {
        <a
          [routerLink]="item.url"
          routerLinkActive="activo"
          (click)="menuAbierto.set(false)"
          class="enlace-menu"
        >
          <i [class]="item.icono" class="icono-menu"></i>
          <span class="texto-enalce">{{ item.texto }}</span>
        </a>
      }
    </nav>

    <div class="sidebar-footer">
      <button class="boton-salir-admin">Cerrar Sesión</button>
    </div>
  </aside>

  <div class="contenido-principal">
    <header class="cabecera-admin">
      <button class="boton-alternar-menu" (click)="alternarMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="perfil-admin">
        <div class="info-texto">
          <span class="nombre-usuario">Administrador</span>
          <span class="rol-usuario">Comunica</span>
        </div>
      </div>
    </header>

    <main class="cuerpo-admin">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
